<div data-fls-fullpage-section data-fls-index class="index">
  <div class="index__container">
    <div class="index__navigation">
      <div class="index__menu">
        <a data-fls-scrollto=".tms" href="#tms" data-fls-scrollto=".tms" class="index__menu--link">Кейсы</a>
        <a data-fls-scrollto=".experience" href="#experience" data-fls-scrollto=".experience" class="index__menu--link">Опыт</a>
        <a data-fls-scrollto=".footer" href="#contact" data-fls-scrollto=".contact" class="index__menu--link">Контакты</a>
      </div>
      <a href="#" class="index__logo">Портфолио</a>
    </div>
    <div class="index__content">
      <h1 class="index__title">Product Designer</h1>

      <div class="index__badges">
        <span class="index__badge index__badge--name"> Я – Аня </span>

        <span class="index__badge index__badge--avatar">
          <img src="@img/photo.svg" alt="Аня" />
        </span>

        <span class="index__badge index__badge--experience"> 6+ лет в дизайне, 3.5 из них в продукте </span>
      </div>

      <p class="index__description">Проектирую цифровые интерфейсы для Smart TV, web и mobile, которые выдерживают рост и реальные бизнес-ограничения</p>

      <a href="https://t.me/anna_zaickina" target="_blank" class="index__button"> <span class="index__button-icon --icon-telegram"></span>Написать в ТГ </a>
    </div>
    <div class="index__side-text">Использую дизайн как способ упростить процессы и сделать сложные вещи понятными пользователю.</div>
  </div>
</div>
