<section data-fls-fullpage-section data-fls-portfolio class="portfolio">
  <div class="portfolio__container">
    <div class="portfolio__content">
      <div class="portfolio__location" data-fls-popup-link="popup-location">
        <div class="portfolio__location-hover-area"></div>
        <div class="portfolio__location--title">Сервис подбора локаций</div>
        <div class="portfolio__location--text">Исследовательский проект</div>
        <div class="portfolio__location--img">
          <img src="@img/location.png" alt="Сбер" />
        </div>
      </div>

      <div class="portfolio__news" data-fls-popup-link="popup-web">
        <div class="portfolio__news-hover-area"></div>
        <div class="portfolio_news--title">web-портал новостного сервиса</div>
        <div class="portfolio__news--img">
          <img src="@img/news.png" alt="Плеер" />
        </div>
      </div>
    </div>
  </div>
</section>