// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройки стилей по умолчанию
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: "Inter"; // Шрифт по умолчанию
$fontSize: 16; // Размер шрифта по умолчанию (где 16 — размер шрифта по умолчанию из макета)

// Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию
$backgroundColor: #171717;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Настройки адаптивной сетки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1780;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 50;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейкпоинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98; // Телефоны L
$mobileSmall: 479.98; // Телефоны S

// Тип адаптива:
// 1 = отзывчивый (у контейнера нет брейкпоинтов),
// 2 = по брейкпоинтам (контейнер меняет свою ширину по брейкпоинтам)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
