<section data-fls-fullpage-section data-fls-experience class="experience">
  <div class="experience__container">
    <div class="experience__content">
      <h2 id="experience-title" class="experience__title">Опыт работы</h2>

      <div class="experience__block">
        <div class="experience__date"><time datetime="2022">2022</time> — <span>по настоящее время</span></div>

        <div class="experience__info">
          <h3 class="experience__job">Product Designer</h3>
          <p class="experience__company">TVIP LABS</p>

          <ul class="experience__description">
            <li>
              Проектировала и оптимизировала ключевые пользовательские сценарии под управление с пультаЗапустила дизайн-систему для ускорения и масштабирования
              разработки
            </li>
          </ul>
        </div>

        <div class="experience__results">
          <div class="experience__results--percent">–32%</div>
          <div class="experience__results--text">коэффициент оттока пользователей</div>
        </div>

        <div class="experience__speed">
          <div class="experience__speed--percent">+18%</div>
          <div class="experience__speed--text">Средний доход на пользователя</div>
        </div>

        <div class="experience__load">
          <div class="experience__load--percent">–60%</div>
          <div class="experience__load--text">Снижение нагрузки на поддержку</div>
        </div>
      </div>

      <div class="experience__block">
        <div class="experience__date experience__date--color"><time datetime="2021">2021</time> — <time datetime="2022">2022</time></div>

        <div class="experience__info">
          <h3 class="experience__job">UX/UI Designer</h3>
          <p class="experience__company">Beverly Group</p>
          <p class="experience__description">
            Проектировала пользовательские сценарии новостного веб-портала <br />
            Улучшила структуру, навигацию и адаптивные решения для web и mobile
          </p>
        </div>

        <div class="experience__results">
          <div class="experience__results--percent">≈15%</div>
          <div class="experience__results--text">Повысилась посещаемость портала за счёт улучшения структуры и UX-сценариев</div>
        </div>
        <div class="experience__speed experience__opacity" aria-hidden="true" role="presentation"></div>
        <div class="experience__load experience__opacity" aria-hidden="true" role="presentation"></div>
      </div>

      <div class="experience__block">
        <div class="experience__date experience__date--color"><time datetime="2020">2020</time> — <time datetime="2021">2021</time></div>

        <div class="experience__info">
          <h3 class="experience__job">UX/UI Designer</h3>
          <p class="experience__company">iMask</p>

          <p class="experience__description">Работала над UI интернет-магазина. Проектировала и разрабатывала web-интерфейсы для B2B и B2C сегментов.</p>
        </div>

        <div class="experience__results">
          <div class="experience__results--percent">≈40%</div>
          <div class="experience__results--text">Интерфейс интернет-магазина повысил продажи и привлёк крупных корпоративных клиентов.</div>
        </div>

        <div class="experience__speed experience__opacity" aria-hidden="true" role="presentation"></div>
        <div class="experience__load experience__opacity" aria-hidden="true" role="presentation"></div>
      </div>
    </div>
  </div>
</section>
