<section data-fls-fullpage-section data-fls-tms class="tms">
  <div class="tms__container">
    <div class="tms__content">
      <div class="tms__smart" data-fls-popup-link="popup">
        <div class="tms__smart-hover-area"></div>
        <div class="tms__smart--title">Продуктовый дизайн Smart TV платформы</div>
        <div class="tms__smart--img">
          <img src="@img/tms-tv.png" alt="ТВ" />
        </div>
      </div>

      <div class="tms__tvip" data-fls-popup-link="popup-tms">
        <div class="tms__tvip-hover-area"></div>
        <div class="tms_tvip--title">Дизайн-система TVIP TMS</div>
        <div class="tms__tvip--img">
          <img src="@img/tms-player.png" alt="Плеер" />
        </div>
      </div>
    </div>
  </div>
</section>
