<form data-fls-form action="files/sendmail/sendmail.php" method="POST">
	<input data-fls-input data-fls-form-validatenow required autocomplete="off" type="text" name="form[]" data-fls-form-errtext="Ошибка" placeholder="Введите..." class="input">
	<input data-fls-input data-fls-input-mask="+38(999) 999-9999" autocomplete="off" type="text" name="form[]" data-fls-form-errtext="Ошибка" placeholder="Введите..." class="input">
	<textarea data-fls-input autocomplete="off" name="form[]" placeholder="Введите..." data-fls-form-errtext="Ошибка" class="input"></textarea>
	<textarea data-fls-input data-fls-input-autoheight autocomplete="off" name="form[]" placeholder="Введите..." data-fls-form-errtext="Ошибка" class="input"></textarea>
	<div>
		<input data-fls-input autocomplete="off" type="password" name="form[]" data-fls-form-errtext="Ошибка" value="123456" placeholder="Введите..." class="input">
		<button data-fls-input-viewpass>Viewpass</button>
	</div>
	<button type="submit" class="button">Send</button>
</form>
