<section data-fls-fullpage-section data-fls-cases class="cases">
  <div class="cases__container">
    <div class="cases__content">
      <div class="cases__sber" data-fls-popup-link="popup-sber">
        <div class="cases__sber-hover-area"></div>
        <div class="cases__sber--title">Mobile app СберЗдоровье</div>
        <div class="cases__sber--text">Исследовательский проект</div>
        <div class="cases__sber--img">
          <img src="@img/sber-phone.png" alt="Сбер" />
        </div>
      </div>

      <div class="cases__yandex" data-fls-popup-link="popup-yandex">
        <div class="cases__yandex-hover-area"></div>
        <div class="cases_yandex--title">Онлайн-чаевые ЯНДЕКС</div>
        <div class="cases_yandex--text">Исследовательский проект</div>
        <div class="cases__yandex--img">
          <video src="@img/video.mp4" alt="Плеер" autoplay loop muted playsinline></video>
        </div>
      </div>
    </div>
  </div>
</section>
