<footer data-fls-fullpage-section data-fls-footer class="footer">
  <div class="footer__container">
    <div class="footer__start">
      <h2 class="footer__title">Готова к новым продуктовым задачам</h2>

      <div class="footer__info">
        <p class="footer__copyright">© 2026 Анна Заикина</p>
        <div class="footer__social">
          <a href="https://www.linkedin.com/in/anna-zaikina/" class="footer__social-link" target="_blank">LinkedIn</a>
          <a href="https://www.behance.net/ann_kulikova" class="footer__social-link" target="_blank">Behance</a>
          <a href="mailto:anna@zaikina-a.ru" class="footer__email">anna@zaikina-a.ru</a>
        </div>
      </div>
    </div>
    <div class="footer__end">
      <a href="https://t.me/anna_zaickina" target="_blank" class="footer__cta --icon-telegram" data-fls-dynamic=".footer__start, 991, 1, .footer__start">Написать в ТГ</a>
    </div>
  </div>
</footer>
